
text {
	font-family: sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #5b5b5b;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 8pt;
    color: #5b5b5b;
}
text.label{
    font-size: 8pt;
}
text.title{
    font-size: 10pt;
}
path.link {
  fill: none;
  stroke-width: 1.5px;
}
path.sparkline, path.sparklineOverlay  {
    stroke-width: 1px;
    fill: none;
    cursor: hand;
    cursor: pointer;
}
path.sparkline{
    stroke: #434750;
    opacity: 1;
}
path.sparklineOverlay {
    stroke-width: 2px;
    stroke: #00A2A6;
    opacity: 1;
}
.sparkline path{
    stroke-width: 1px;
    stroke: #434750;
    fill: none;
    opacity: 1;
}
path.mouseCatcher{
    stroke-width: 8px;
    stroke: white;
    fill: none;
    opacity: 0;
    cursor: hand;
	cursor: pointer;
}
path.hovering, path.activeLine{
    stroke-width: 2px;
}
path.meanLine {
    stroke-width: 3px;
    fill: none;
	stroke: #00A2A6;
	opacity: 1;
	cursor: hand;
	cursor: pointer;
}
path.medianLine {
    stroke-width: 2px;
    fill: none;
	stroke: black;
	opacity: 1;
	cursor: hand;
	cursor: pointer;
}
path.outlierLine {
    stroke-width: 1px;
    fill: none;
	stroke: grey;
	opacity: 1;
}
path.filledLine{
	fill: #00A2A6;
	stroke: grey;
    stroke-width: 1px;
    opacity: 0.2;
}
path.filledLine:hover{
    opacity: 0.5;
}
path.sparkline:hover {
    opacity: 1;
}
path.active {
    opacity: 1;
}
.results_row{
	cursor: hand;
	cursor: pointer;
}
.bar rect {
  fill: #a5d9c9;
  stroke: #00A2A6;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  opacity:0.8;
}
.bar rect:hover{
  fill: #00A2A6;
  opacity: 1;
}
.bar text {
  fill: #fff;
}
line.threshold {
    stroke: #C52026;
    stroke-width: 3px;
    cursor: hand;
    cursor: pointer;
}
div#plot, div#bars, div#areaPlot, div#areaBars, div#sparkPlot, div#sparkBars {
	display: inline;
}
